.component {
  max-width: 70rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.columns {
  display: flex;
  column-gap: 1rem;
}

.articleColumn {
  /* flex algorithm tries to make the column width as close as flex-basis */
  flex-basis: 50rem;
}

.tocColumn {
  max-width: 20rem;
  flex-basis: 20rem;
}

@media (max-width: 50rem) {
  .tocColumn {
    display: none;
  }
}
